html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #242424, #27045F) no-repeat;
    font-family: Arial, sans-serif;
    font-size: 18px;
}
.container{
	width: 100%;
  height: 100%;
}
.mycontainer{
	width: 920px;
	margin: 0 auto;
	text-align: center;
	color: #ccc;
}

.bestBank{
	width: 920px;
	margin: 0 auto;
	text-align: center;
	color: #ccc;
}
.bank{
	border: 5px solid #ccc; 
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 10px;
}
ul{
	padding: 0;
}

li{
	list-style: none;
	padding: 0;
}
